---
layout: page
title: Chinese Artists
permalink: /chineseartists/
---

<ul>
    {% for artist in site.data.artists %}
      <li>
       <p>
       {{ artist.EnglishName }}
       {{ artist.ChineseName }}
       {{ artist.Nationality }}
       {{ artist.Gender }}
       {{ artist.BirthYear }} - {{ artist.DeathYear}}
       </p>

       {% for i in (1..3) %}
       <p>
       <img src = "/china-artworks/{{ artist.EnglishName | replace: ' ', '_' | append: '_' | append: artist.ChineseName }}/{{ artist.EnglishName | replace: ' ', '_' | append: '_0' | append: i }}.jpg" >
       </p>
       {% endfor %}
      </li>
    {% endfor %}
</ul>